<header class="header">
  <nav class="navbar">
    <div class="container">
      <h1 class="navbar-brand">
        <%= link_to root_path, class: "brand-logo" do %>
          <%= image_tag("logo.png", alt: "BeginnerBridge") %>
        <% end %>
      </h1>
      <div class="navbar-items">
        <%= link_to '質問・意見交換を投稿する', user_signed_in? ? new_post_path : new_user_session_path, class: 'btn btn-success' %>
        <% if user_signed_in? %>
          <span class="username-btn">
            <%= link_to "#{current_user.username}", user_path(current_user), class: "username-link" %>
          </span>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary' %>
          <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
